<div class="bg-white p-[0.95rem]">
    <div class="flex justify-between">
        <div>
            <button class="bg-[#00d631] text-white px-4 py-2 rounded-md mr-2 font-semibold text-sm">Base</button>
            <button class=" hover:bg-slate-100 hover:text-[#00d631] text-slate-500 px-4 py-2 rounded-md font-semibold text-sm">Collaborations</button>
            <button class=" hover:bg-slate-100 hover:text-[#00d631] text-slate-500 px-4 py-2 rounded-md font-semibold text-sm">Config</button>
        </div>
        <img src="../../../../assets/images/profilePhoto.jpg" alt="" class="w-9 rounded-md mr-5">
    </div>
</div>
