<div class="flex flex-col justify-start h-full">
    <div class="flex flex-col justify-between h-full">
        <!-- Start of Photo -->
        <div>
            <div class="flex">
                <div class="">
                    <img src="../../../../assets/images/theWeekend.jpg" alt="" class="w-full rounded-lg">
                </div>
            </div>
            <!-- Start of Description -->
            <div class=" mt-5">
                <h3 class="font-semibold text-slate-400 text-sm">NFT ID: 176315</h3>
                <h2 class="font-bold text-xl ">The Weekend - Starboy</h2>
            </div>
        </div>
        <!-- Start of Pricing -->
        <div>
            <div class="flex justify-between mt-3">
                <p class="text-slate-400 font-medium">Last Bid: 0.15 ETH</p>
                <p class="text-slate-400 font-medium">$234.88</p>
            </div>
            <!-- Start of Buttons -->
            <div class="flex justify-between mt-3">
                    <button class="px-3 py-2 bg-[#00d631] text-white rounded-md text-sm font-semibold">Place A Bid</button>
                    <button class="px-3 py-2 bg-slate-100 text-slate-400 rounded-md text-sm font-semibold">View Item</button>
            </div>
        </div>
    </div>

</div>