<div class="flex justify-center h-full">
    <div class="bg-white pt-9 pb-9 rounded-lg flex flex-col justify-between">
                
                <div>
                    <!-- Start of Photo -->
                    <div class="flex justify-center">
                        <div class="w-[85%]">
                            <img src="../../../../assets/images/theWeekend.jpg" alt="" class="w-full rounded-lg">
                        </div>
                    </div>
                    <!-- Start of Description -->
                    <div class="ml-8 mt-5">
                        <h3 class="font-semibold text-slate-400 text-sm">NFT ID: 301207</h3>
                        <h2 class="font-bold text-xl">The Weekend - Starboy</h2>
                </div>
                </div>


                <div class="">
                    <!-- Start of Creator -->
                    <div class="ml-8 mt-3 flex">
                        <div class="flex items-center">
                            <img src="../../../../assets/images/profilePhoto2.jpg" alt="" class="rounded-full w-8">
                            <div class="flex flex-col ml-2">
                                <p class="font-semibold text-slate-400 text-xs">Creator</p>
                                <p class="font-bold text-sm">H4CKM11</p>
                            </div>
                        </div>
                        <div class="flex items-center ml-10">
                            <img src="../../../../assets/images/moneyLogo.png" alt="" class="rounded-full w-8">
                            <div class="flex flex-col ml-2">
                                <p class="font-semibold text-slate-400 text-xs">Instant Price</p>
                                <p class="font-bold text-sm">4.3 ETH</p>
                            </div>
                        </div>
                    </div>
                    <div class="ml-8 mt-6 w-[80%]">
                        <!-- Start of Buttons -->
                        <div class="flex justify-between mt-3">
                            <button class="px-3 py-2 bg-[#00d631] text-white rounded-md text-sm font-semibold">Place A Bid</button>
                            <button class="px-3 py-2 bg-slate-100 text-slate-400 rounded-md text-sm font-semibold">View Item</button>
                        </div>
                    </div>
                </div>
            </div>

</div>