<div class="flex mt-6">
    <div class="bg-white w-[95%] pt-9 pb-9 rounded-lg">

        <!-- Start of Photo -->
        <div class="flex justify-center">
            <div class="w-[85%]">
                <img src="../../../../assets/images/kanyeWestArt.png" alt="" class="w-full rounded-lg">
            </div>
        </div>

        <!-- Start of Description -->
        <div class="ml-8 mt-5">
            <h3 class="font-semibold text-slate-400 text-sm">NFT ID: 119004</h3>
            <h2 class="font-bold text-xl">Kanye West - Graduation</h2>  
        </div>


        <!-- Start of Creator -->
        <div class="ml-8 mt-3 flex">
            <div class="flex items-center">
                <img src="../../../../assets/images/profilePhoto2.jpg" alt="" class="rounded-full w-8">
                <div class="flex flex-col ml-2">
                    <p class="font-semibold text-slate-400 text-xs">Creator</p>
                    <p class="font-bold text-sm">H4CKM11</p>
                </div>
            </div>

            <div class="flex items-center ml-10">
                <img src="../../../../assets/images/moneyLogo.png" alt="" class="rounded-full w-8">
                <div class="flex flex-col ml-2">
                    <p class="font-semibold text-slate-400 text-xs">Instant Price</p>
                    <p class="font-bold text-sm">5.6 ETH</p>
                </div>
            </div>
        </div>


        <div class="ml-8 mt-3 w-[80%]">
            <!-- Start of Pricing -->
            <div class="flex flex-col border-dotted border-[1.8px] items-center pt-6 pb-6">
                <p class="text-slate-400 text-sm">Last Bid</p>
                <p class="font-semibold text-3xl">4.22 ETH</p>
                <p class="font-semibold text-slate-500 text-lg">$7750.89</p>
                <p class="text-slate-400 text-sm mt-4">Ending In</p>
                <p class="font-semibold text-slate-500 text-lg">12h 36m 21s</p>
            </div>


            <!-- Start of Buttons -->
            <div class="flex justify-between mt-3">
                <button class="px-3 py-2 bg-[#00d631] text-white rounded-md text-sm font-semibold">Place A Bid</button>
                <button class="px-3 py-2 bg-slate-100 text-slate-400 rounded-md text-sm font-semibold">View Item</button>
            </div>

        </div>


    </div>

</div>