<app-navbar class="fixed top-0 w-full z-50"></app-navbar>
<div class="flex justify-between mt-24 items-center w-[95%]">
    <h2 class="pl-4 font-bold">NFT Dashboard</h2>
    <button class="px-3 py-2 bg-[#00d631] text-white rounded-md text-sm font-semibold">Manage Bids</button>
</div>
<app-main-card-feature-mobile></app-main-card-feature-mobile>
<app-main-card-sub-mobile></app-main-card-sub-mobile>
<app-main-card-sub-mobile2></app-main-card-sub-mobile2>
<app-eth-pricing-chart-mobile></app-eth-pricing-chart-mobile>
