<div class="flex justify-center mt-6 mb-6">
  <div class="bg-white w-[92%] pt-9 pb-9 rounded-lg">
    <div class="ml-8 w-[85%]">
      <!-- Start of Pricing -->
      <div class="flex items-center">
        <p class="text-sm text-slate-400 font-semibold">$</p>
        <p class="font-semibold text-3xl ml-1">1,832.10</p>
        <div class="flex bg-[#c8f0d7] px-2 py-1 rounded-xl text-sm items-center transform scale-75">
          <mat-icon class="text-[#37ca6d]">arrow_upward</mat-icon>
          <p class="text-lg text-[#37ca6d] font-semibold">9.2%</p>
        </div>
      </div>
      <div>
        <p class="text-sm text-slate-400 font-semibold">Euthrem Price</p>
      </div>

      <!-- Start of Chart | Using Chart.js -->
      <div class="mt-6">
        <div class="chart-container">
          <canvas id="MyChart"></canvas>
        </div>
      </div>

      <!-- Start Of Pricing History -->
      <div class="flex justify-between mt-6">
        <p class="text-sm text-slate-400 font-semibold">1:30pm</p>
        <p class="font-semibold">$2,100</p>
        <p class="text-[#e2234d] font-semibold">-139.40</p>
      </div>
      <div class="flex justify-between mt-4">
        <p class="text-sm text-slate-400 font-semibold">2:00pm</p>
        <p class="font-semibold">$2,100</p>
        <p class="text-[#24c660] font-semibold">180.67</p>
      </div>
      <div class="flex justify-between mt-4">
        <p class="text-sm text-slate-400 font-semibold">2:30pm</p>
        <p class="font-semibold">$2,100</p>
        <p class="text-[#24c660] font-semibold">160.32</p>
      </div>

    </div>
  </div>
</div>
