<div class="flex justify-center mt-6">
  <div class="bg-white w-[92%] pt-9 pb-9 rounded-lg">
    <div class="ml-8">
      <!-- Start of Pricing -->
      <div class="flex items-center">
        <p class="text-sm text-slate-400 font-semibold">$</p>
        <p class="font-semibold text-3xl ml-1">1,832.10</p>
        <div
          class="flex bg-[#c8f0d7] px-2 py-1 rounded-xl text-sm items-center transform scale-75"
        >
          <mat-icon class="text-[#37ca6d]">arrow_upward</mat-icon>
          <p class="text-lg text-[#37ca6d] font-semibold">9.2%</p>
        </div>
      </div>
    </div>
  </div>
</div>
