<div class="flex h-screen w-full overflow-hidden">
    <app-navbar-desktop></app-navbar-desktop>
    <div class="flex flex-grow flex-col content-start">
        <app-sub-navbar-desktop></app-sub-navbar-desktop>
        <div class=" mt-6 scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-y-auto scrollbar-thin scrollbar-thumb-white scrollbar-track-gray-100">
            <app-dashboard-main-content></app-dashboard-main-content>
        </div>
        <app-footer-desktop></app-footer-desktop>
    </div>
</div>

