<div class="bg-white p-4 shadow-md flex">
    <!-- Logo Section -->
    <div class="flex items-center">
        <img src="../../../../assets/images/moneyLogo.png" alt="" class="w-8">
        <p class="text-lg font-bold ml-3">100 Thieves Crypto</p>
    </div>

    <!-- List of Elements -->
    <div class="flex items-center ml-8">
        <button class="bg-[#00d631] text-white px-4 py-2 rounded-md mr-2 font-semibold text-sm">Base</button>
        <button class=" hover:bg-slate-100 hover:text-[#00d631] text-slate-500 px-4 py-2 rounded-md font-semibold text-sm">Collaborations</button>
        <button class=" hover:bg-slate-100 hover:text-[#00d631] text-slate-500 px-4 py-2 rounded-md font-semibold text-sm">Config</button>
    </div>

    <div class="flex justify-end flex-grow">
        <img src="../../../../assets/images/profilePhoto.jpg" alt="" class="h-9 w-9 rounded-lg">
    </div>


</div>