<div class="bg-white rounded-lg p-9">
    <div class="flex justify-between">
        <div>
            <p class="font-bold">Friends Recent Activity</p>
            <p class="text-slate-400">Updated: 37 Minutes Ago</p>
        </div>
        <button class="px-3 py-2 bg-slate-100 text-slate-400 rounded-md text-sm font-semibold">History</button>
    </div>


        <!-- Start of Table -->
        <table class="py-4 border-collapse w-full mt-4">
            <tr>
                <th class="text-left text-sm text-slate-400 uppercase">Item</th>
                <th class="text-right text-sm text-slate-400 uppercase">Open Price</th>
                <th class="text-right text-sm text-slate-400 uppercase">Price In USD</th>
                <th class="text-right text-sm text-slate-400 uppercase">Recent Offer</th>
                <th class="text-right text-sm text-slate-400 uppercase">Time Left</th>
                <th class="text-right text-sm text-slate-400 uppercase">View</th>
            </tr>



            <tr class="border-b border-dotted border-slate-200 hover:bg-slate-50">
                <td data-cell="profilePhoto">
                    <div class="flex">
                        <img src="../../../../assets/images/Utopia.jpg" alt="" class="w-10 h-10 rounded-lg"> 
                        <div class="ml-3">
                            <p class="font-bold">Credit Wise</p>
                            <p class="text-slate-400">Mary Emmaline</p>
                        </div>
                    </div>
                </td>
                <td data-cell="openPrice" class="text-right text-slate-400 font-semibold"><p>22 ETH</p></td>
                <td data-cell="priceUSD" class="text-right text-slate-400 font-semibold"><p>$35,330.80</p></td>
                <td data-cell="recentOffer" class="text-right text-slate-400 font-semibold"><p>20 ETH</p></td>
                <td data-cell="timeLeft" class="text-right text-slate-400 font-semibold">1h 43m 52s</td>
                <td data-cell="view">
                    <div class="flex justify-end">
                        <mat-icon class="text-slate-500 bg-slate-100 rounded-md" fontSet="material-icons-outlined">arrow_forward</mat-icon>
                    </div>
                </td>
            </tr>

            <tr class="hover:bg-slate-50">
                <td data-cell="profilePhoto">
                    <div class="flex">
                        <img src="../../../../assets/images/MBDTF.jpg" alt="" class="w-10 h-10 rounded-lg"> 
                        <div class="ml-3">
                            <p class="font-bold">Royal Funds</p>
                            <p class="text-slate-400">Brion Jewel</p>
                        </div>
                    </div>
                </td>
                <td data-cell="openPrice" class="text-right text-slate-400 font-semibold"><p>2.9 ETH</p></td>
                <td data-cell="priceUSD" class="text-right text-slate-400 font-semibold"><p>$4,812.72</p></td>
                <td data-cell="recentOffer" class="text-right text-slate-400 font-semibold"><p>1.7 ETH</p></td>
                <td data-cell="timeLeft" class="text-right text-slate-400 font-semibold">3h 23m 12s</td>
                <td data-cell="view">
                    <div class="flex justify-end">
                        <mat-icon class="text-slate-500 bg-slate-100 rounded-md" fontSet="material-icons-outlined">arrow_forward</mat-icon>
                    </div>
                </td>
            </tr>

            <tr class="hover:bg-slate-50">
                <td data-cell="profilePhoto">
                    <div class="flex">
                        <img src="../../../../assets/images/weAreNotYourKind.jpg" alt="" class="w-10 h-10 rounded-lg"> 
                        <div class="ml-3">
                            <p class="font-bold">Digital Finance</p>
                            <p class="text-slate-400">Mable Elyse</p>
                        </div>
                    </div>
                </td>
                <td data-cell="openPrice" class="text-right text-slate-400 font-semibold"><p>2.3 ETH</p></td>
                <td data-cell="priceUSD" class="text-right text-slate-400 font-semibold"><p>$1,602.77</p></td>
                <td data-cell="recentOffer" class="text-right text-slate-400 font-semibold"><p>0.8 ETH</p></td>
                <td data-cell="timeLeft" class="text-right text-slate-400 font-semibold">4h 51m 53s</td>
                <td data-cell="view">
                    <div class="flex justify-end">
                        <mat-icon class="text-slate-500 bg-slate-100 rounded-md" fontSet="material-icons-outlined">arrow_forward</mat-icon>
                    </div>
                </td>
            </tr>

            <tr class="hover:bg-slate-50">
                <td data-cell="profilePhoto">
                    <div class="flex">
                        <img src="../../../../assets/images/BillyOcean.jpg" alt="" class="w-10 h-10 rounded-lg"> 
                        <div class="ml-3">
                            <p class="font-bold">Captial Flow Group</p>
                            <p class="text-slate-400">Azaria Lally</p>
                        </div>
                    </div>
                </td>
                <td data-cell="openPrice" class="text-right text-slate-400 font-semibold"><p>2.1 ETH</p></td>
                <td data-cell="priceUSD" class="text-right text-slate-400 font-semibold"><p>$1,438.17</p></td>
                <td data-cell="recentOffer" class="text-right text-slate-400 font-semibold"><p>2 ETH</p></td>
                <td data-cell="timeLeft" class="text-right text-slate-400 font-semibold">2h 36m 25s</td>
                <td data-cell="view">
                    <div class="flex justify-end">
                        <mat-icon class="text-slate-500 bg-slate-100 rounded-md" fontSet="material-icons-outlined">arrow_forward</mat-icon>
                    </div>
                </td>
            </tr>

        </table>

</div>